$body-bg: #e8e8e8;
//$body-color: #111;
$light: #66b737;


$navbar-light-color: antiquewhite;
$navbar-light-active-color: antiquewhite;
$nav-tabs-border-color: #66b737;

$component-active-bg: #66b737;
$accordion-button-bg: #66b737;
$accordion-button-color: antiquewhite;

$card-bg: #e8e8e8;
$card-border-color: gray;

.card {
    margin-bottom: 0.5em;
}

.card-title {
    background-color: $light;
    background-color: rgba(102, 183, 55, 1);
    color: antiquewhite;
    padding: 1em;
}

.welcome_title.card-title {
    background-color: rgb(235, 187, 84);
    color: antiquewhite;
    padding: 1em;
}

#content {
    background-image: radial-gradient(farthest-side ellipse at 10% 0, #bdd1e9 20%, #ddd);
    background-image: radial-gradient(farthest-side ellipse at 10% 0, #bdd1e9 20%, #ddd);
    background-image: -webkit-radial-gradient(10% 0, farthest-side ellipse, #bdd1e9 20%, #ddd);
    background-image: -moz-radial-gradient(10% 0, farthest-side ellipse, #bdd1e9 20%, #ddd);
    background-attachment: fixed, fixed;

}

.overview-accordion-text-container {
    margin-bottom: 0.5em;

    .accordion-header {
        color: black;
        border: none;
    }

    .accordion-button {
        color: black;
        padding: 0.5em;
        background-color: transparent;
    }

    .accordion-button:not(.collapsed) {
        color: black;
        background-color: #cfcfcf;
    }

    .accordion-button:focus {
        box-shadow: 0 0 0 0.25rem rgb(195 195 195 / 25%);
    }

    .accordion-button:after {
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000000'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
    }
}


/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";