.swiper-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.swiper-container i {
  margin: auto 20px;
  cursor: pointer;
}

.swiper-container i svg{
  height: 50px;
}

.swiper-custom-pagination {
  width: 100%;
  display: flex;
  justify-content: center;
}


.swiper-slide {
  height: auto !important;
}

.swiper-content {
  height: 100% !important
}
