#toolTip {
    background-color: azure;
    margin: 0.0em;
    padding: 0.4em;
    opacity: 0.8;
    display: block;
    box-shadow: rgba(149, 157, 165, 0.8) 0px 8px 24px;
    border-radius: 5px;
}

#toolTip .panel-heading {
    font-weight: bold;
}

.top .rc-slider-handle {
    width: "18" !important;
    height: "18";
}

.top .rc-slider-mark-text {
    transform: translateX(-50%) rotate(-90deg) translateX(-20%) !important;
}

.clickLink {
    font-size: smaller;
}