.search-form {
    display: flex;
    justify-content: center;
    position: relative;
}

.searchResult .card-title {
    cursor: pointer;
}

.searchResult.card {
    margin-bottom: 0em;
}

.result-line {
    padding-top: 2px;
    padding-bottom: 2px;
}

.result-line:hover {
    background-color: cornsilk;
    cursor: pointer;
}