

.flows .rc-slider-mark-text {
    transform: translateX(-50%) rotate(-90deg) translateX(-20%) !important;
}

div.label {
    margin-top: 0.3em;
    font-size: small;
}

div.settings {
    border: 1px solid silver;
    background-color: whitesmoke;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 3.5em;
}

.flows .nav-tabs .nav-link.active {
    border-color: gray gray #e8e8e8;
}

.flows .nav-tabs {
    border-bottom: 1px solid gray;
    margin-top: 1em;
    margin-left: 1px;
    margin-right: 1px;
}

.flows .rc-slider-mark-text {
    color: #666;
    padding: 0.3em;
}

.flows .rc-slider-mark-text-active {
    color: #666;
    font-weight: bold;
    padding: 0.3em;

}

.custom-tooltip {
    box-shadow: rgba(149, 157, 165, 0.8) 0px 8px 24px;
    border-radius: 5px;
}

.flows .node_label {
    font-weight: lighter;
}

.rc-slider-handle-2,
.rc-slider-handle-1 {
    transform: translate(-50%,-10%) !important;
}